{% extends 'page.html.twig' %}

{% block main %}
    <div class="home-content-wrapper">
        <div class="switcher-home-wrapper d-none d-xl-flex justify-content-center mx-auto">
            <img src="/images/icons/icon-roll.svg" class="switcher-home-wrapper__icon switcher-roll on"
                 alt="Choisir la roue">
            <img src="/images/icons/icon-grid.svg" class="switcher-home-wrapper__icon switcher-grid"
                 alt="Choisir la grille">
        </div>

        <div class="choice-tab-wrapper d-flex flex-column">
            {% include 'candidate/candidate_grid_list.html.twig' with {'markup': 'a', 'greyFilter': false} %}
            <section id="candidates-roll-wrapper" class="candidates-roll-wrapper flex-wrap switcher-appearance">
                <div class="container g-0">
                    <div class="rolling-base row flex-nowrap overflow-auto">
                        {% for candidate in candidates %}
                            <div class="col-12">
                                <div class="candidate-roll-wrapper d-flex flex-column justify-content-end"
                                    style="background-image: url({{ candidate.displayPicture }});">
                                    <a class="candidate-roll-wrapper__link-zone"
                                       href="{{ path('candidates_show', {'candidate': candidate.lastName}) }}"></a>

                                    <h2 class="candidate-roll-wrapper__party-name">
                                        {% if primaryChoice != 0 %}
                                            Primaire {{ candidate.politicalParty.acronym }}
                                        {% else %}
                                            {{ candidate.politicalParty.name }}</h2>
                                        {% endif %}
                                    <h3 class="candidate-roll-wrapper__candidate-name">Candidat
                                        : {{ candidate.firstName }} {{ candidate.lastName }}</h3>
                                    <div class="candidate-roll-wrapper__biography d-none d-xl-block">
                                        {{ candidate.program.presentation|raw }}
                                    </div>
                                    <a class="candidate-roll-wrapper__link"
                                       href="{{ path('candidates_show', {'candidate': candidate.lastName}) }}">Découvrir
                                        le programme</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="d-flex flex-nowrap mx-auto mx-xl-0 ms-xl-auto circle-roll">
                    <div class="quarter-circle-bottom-left"></div>
                    <div class="quarter-circle-bottom-right"></div>
                    <button id="roll-left" class="btn btn-primary">
                        <img class="rotate" src="/images/icons/roll/arrow_left.svg" alt="Aller au candidat à gauche">
                    </button>
                    <button id="letsroll" class="btn btn-primary">
                        <img class="rotate" src="/images/icons/roll/random.svg" alt="Choisir un candidat aléatoirement">
                    </button>
                    <button id="roll-right" class="btn btn-primary">
                        <img class="rotate" src="/images/icons/roll/arrow_right.svg" alt="Aller au candidat à droite">
                    </button>
                </div>
            </section>
        </div>
    </div>

{% endblock %}


{# Add JS for switcher grid to roll #}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('switch-grid-roll') }}
    {{ encore_entry_script_tags('roll') }}
{% endblock %}

