{% extends 'page.html.twig' %}

{% block title %}
	La Voix du Vote - Le comparateur
{% endblock %}


{% block main %}
    <div class="comparator-wrapper">
        <button id="return-to-choice" class="btn btn-primary d-none mx-auto mb-3 d-block d-md-inline-block">Retour au choix des candidats</button>
        <section class="comparator-wrapper__header row">
            <div class="comparator-wrapper__header-standard header-standard">
                <h1 class="header-standard-title">Comparateur</h1>
                <h2 id="sub-title" class="header-standard-subtitle col-10 mx-auto">Sélectionnez les candidats que vous
                    souhaitez comparer</h2>
                <hr class="header-standard-delimiter col-12 col-lg-8 mx-auto" size="0"/>
            </div>
            <div class="comparator-wrapper__header-reveal">
                <h1 class="comparator-wrapper__header-reveal-title"><span>Les candidats</span></h1>
            </div>
        </section>
        <section class="comparator-wrapper-grid standard">
            {% include 'candidate/candidate_grid_list.html.twig' with {'markup': 'div', 'greyFilter': true, 'candidates' : candidatesPresidential} %}
            <div class="comparator-wrapper-grid__compare-two-programs-cta">
                <div class="row">
                    <a target="_blank" id="start-comparaison" class="btn btn-primary btn-ripple-primary mx-auto">Comparer
                        les&nbsp;<span id="nb-candidates-selected">...</span>&nbsp;programmes</a>
                </div>
            </div>
        </section>

        <div class="comparator-wrapper__content-reveal d-none">
            <nav class="drag-nav-slider d-flex justify-content-between">
                <div id="slider-nav-wrapper" class="drag-nav-slider-wrapper">
                    <ul id="slider-nav-wrapper__list" class="drag-nav-slider-wrapper__list d-flex flex-row">
                        {% for themeName in themesNames %}
                            <li class="drag-nav-slider-wrapper__list-item">
                                <button class="mesure-list__title mesure-list__title-{{ themeName|clean_class }} d-md-flex align-items-md-center justify-content-md-center"
                                        data-theme="{{ themeName|clean_class }}"
                                >
                                    <span>Mesures&nbsp;</span>
                                    <span class="mesure-list__title-theme">{{ themeName }}</span>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <div class="comparator-wrapper-measures">
                {% for theme, candidates in candidatesActionsByTheme %}
                    <div class="comparator-wrapper-measures__theme col-12"
                         data-theme="{{ theme|clean_class }}"
                         id="{{ theme|clean_class }}"
                    >
                        {% for candidate in candidates %}
                            <div class="comparator-wrapper-measures__theme-candidate"
                                 data-name="{{ candidate.name|clean_class }}">
                                <h3 class="comparator-wrapper-measures__theme-candidate-name">
                                    <span>{{ candidate.name }}</span>
                                </h3>
                                <h3 class="comparator-wrapper-measures__theme-candidate-party">
                                    <span>{{ candidate.politicalParty }}</span></h3>

                                <ul class="mesure-list__actions d-flex row">
                                    {% for action in candidate.actions %}
                                        <li class="mesure-list__action col-12 col-md-6">{{ action }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{# Add JS scripts #}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('comparator') }}
{% endblock %}
