{% extends 'page.html.twig' %}

{% block title %}
	La Voix du Vote - {{ candidate.firstName }} {{ candidate.lastName }}
{% endblock %}

{% block main %}
    {# Header, picture / name #}
    <div class="col-12 candidate">
        <div class="candidate__header">
            {% if candidate.picture %}
                <img src="{{ candidate.displayPicture }}"
                     alt="Photo de {{ candidate.firstName }} {{ candidate.lastName }}">
            {% endif %}
            <div class="candidate__header-info d-flex flex-column justify-content-end">
                <h2 class="candidate__header-info-party">{{ candidate.politicalParty.name }}</h2>
                <h1 class="candidate__header-info-name">{{ candidate.firstName }} {{ candidate.lastName }}</h1>
            </div>
        </div>
    </div>
    {# Star measures tab #}
    <div class="col-12 col-xl-8 offset-xl-2 star-measure">
        <ul class="nav nav-tabs" id="starMeasuresTab" role="tablist">
            {% for measure in candidate.starMeasures %}
                {% set measure_id = 'id-' ~ measure.id %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if loop.first %}active{% endif %} d-md-flex align-items-md-center justify-content-md-center"
                            id="{{ measure_id }}-tab"
                            data-match-height="navlink"
                            data-bs-toggle="tab" data-bs-target="#{{ measure_id }}" type="button" role="tab"
                            aria-controls="{{ measure_id }}"
                            aria-selected="{% if loop.first %}true{% else %}false{% endif %}"><i
                                class="{{ measure.icon }}"></i><span
                                class="d-none d-xl-block title">{{ measure.title }}</span></button>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="starMeasuresTabContent">
            {% for measure in candidate.starMeasures %}
                {% set measure_id = 'id-' ~ measure.id %}
                <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="{{ measure_id }}"
                     role="tabpanel" aria-labelledby="{{ measure_id }}-tab">
                    <h2 class="d-block d-xl-none">
                        {{ measure.title }}
                    </h2>
                    <div class="measure-description">
                        {{ measure.description|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {# Program #}
    <div class="program">
        <div class="row">
            {% for theme, actions in program %}
                <div class="col-12 col-md-5 {% if loop.index % 2 == 1 %}offset-md-1{% endif %}">
                    <h3 class="program__title mesure-list__title mesure-list__title-{{ theme|clean_class }}"><span>Mesures&nbsp;</span><span
                                class="mesure-list__title-theme">{{ theme }}</span></h3>
                    <ul class="mesure-list__actions">
                        {% for action in actions %}
                            <li class="mesure-list__action">{{ action.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        {# CTA program #}
        <div class="dl-program-cta">
            <div class="row">
                <a target="_blank" class="btn btn-primary btn-ripple-primary mx-auto" href="{{ candidate.program.getProgramLink() }}">Le programme complet</a>
            </div>
        </div>
    </div>
    {# Party history #}
    <div class="party-history">
        <div class="row">
            <div class="col-12 offset-md-1 col-md-11">
                <h3 class="party-history__title d-flex flex-column flex-md-row">
                    <span>À propos de&nbsp;</span>
                    <span class="party-history__title-name">{{ candidate.politicalParty.name }}</span>
                </h3>
            </div>
            <div class="col-12 offset-md-1 col-md-11">
                <div class="party-history__description">
                    {{ candidate.politicalParty.description|raw }}
                </div>
            </div>
            {% if candidate.politicalParty.adress %}
                <div class="col-12 offset-md-1 col-md-11">
                    <div class="party-history__localisation">
                        <strong>Localisation:&nbsp;</strong>{{ candidate.politicalParty.adress }}
                    </div>
                </div>
            {% endif %}
            {% if candidate.politicalParty.mail %}
                <div class="col-12 offset-md-1 col-md-11">
                    <strong>Contact:&nbsp;</strong>{{ candidate.politicalParty.mail }}
                </div>
            {% endif %}
        </div>
    </div>
	{% include 'navigation/sharing-cta.html.twig' %}
{% endblock %}
