{% extends 'page.html.twig' %}

{% block main %}
    <div class="glossary-wrapper row col-12 col-md-8 m-auto">
        <header class="glossary-wrapper__header">
            <h1 class="glossary-wrapper__header-title text-center">Glossaire</h1>
            <hr class="w-100 glossary-wrapper__header-delimiter" size="0">
        </header>

        {# <nav class="glossary-wrapper__nav d-flex justify-content-between">
            <div id="slider-nav-wrapper" class="glossary-wrapper__nav-list-wrapper col-9">
                <ul id="slider-nav-wrapper__list" class="glossary-wrapper__nav-list d-flex flex-row">
                    <li class="glossary-wrapper__nav-list-item">
                        <button class="active d-md-flex align-items-md-center justify-content-md-center" data-id="all">
                            Tout
                        </button>
                    </li>

                    {% for glossaryCategorie in glossaryCategories %}
                        <li class="glossary-wrapper__nav-list-item">
                            <button class="d-md-flex align-items-md-center justify-content-md-center"
                                    data-id="{{ glossaryCategorie.label|lower|slug }}">
                                {{ glossaryCategorie.label }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>




            <div id="nav-research"
                 class="glossary-wrapper__nav-research d-flex justify-content-end align-items-center col-3">
                <input id="research-input" type="text" placeholder="Rechercher"
                       class="glossary-wrapper__nav-research-input">
                <i id="research-icon"
                   class="glossary-wrapper__nav-research-icon icon icon-lvdv-world-research flex-shrink-0"></i>
            </div>
        </nav> #}



        <nav class="drag-nav-slider d-flex justify-content-between">
            <div class="drag-nav-slider-wrapper col-9">
                <ul class="drag-nav-slider-wrapper__list d-flex flex-row">
                    <li class="drag-nav-slider-wrapper__list-item">
                        <button class="active d-md-flex align-items-md-center justify-content-md-center" data-id="all">
                            Tout
                        </button>
                    </li>

                    {% for glossaryCategorie in glossaryCategories %}
                        <li class="drag-nav-slider-wrapper__list-item">
                            <button class="d-md-flex align-items-md-center justify-content-md-center"
                                    data-id="{{ glossaryCategorie.label|lower|slug }}">
                                {{ glossaryCategorie.label }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="nav-research"
                 class="drag-nav-slider__nav-research d-flex justify-content-end align-items-center col-3">
                <input id="research-input" type="text" placeholder="Rechercher"
                       class="drag-nav-slider__nav-research-input">
                <i id="research-icon"
                   class="drag-nav-slider__nav-research-icon icon icon-lvdv-world-research flex-shrink-0"></i>
            </div>
        </nav>
        <p id="no-definitions" class="glossary-wrapper__no-definitions">Pas de résultat pour votre recherche... Essayez
            plutôt avec un autre terme !</p>
        <section class="glossary-wrapper__definitions">
            <ul class="glossary-wrapper__definitions-list">
                {% for definition in definitions %}
                    <li class="glossary-wrapper__definitions-list-item"
                        data-category="{{ definition.category|lower|slug }}">
                        <h3 class="glossary-wrapper__definitions-list-item-title">{{ definition.word }}</h3>
                        <article class="glossary-wrapper__definitions-list-item-content">
                            {{ definition.definition|raw }}
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <script>
        
    </script>

{% endblock %}



{# Add JS scripts #}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('glossary') }}
{% endblock %}